/* .left_frame_home {
  width: 560px;
  height: 450px;
} */
//Frames
.edit_create_frame {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 9%;
	height: 18%;
	left: calc(15% - 9% + 2px);
	top: 22%;

	background: #fafafa;
	border: 2px solid #e2e2e2;
	border-radius: 10px 0px 0px 10px;
}

.img_prev_frame {
	position: absolute;
	width: 22%;
	height: 42%;
	top: 13%;
	background: #ffffff;
	border: 2px solid #e2e2e2;
	border-radius: 10px;
}

#img_left {
	// left: calc(5% + 200px);
	left: 15%;
}
#img_right {
	// right: calc(5% + 200px);
	right: 15%;
}

.img_prev_title_frame {
	position: absolute;
	width: 100%;
	height: 12%;
	top: 0px;
	left: 0px;

	background: #fafafa;
	border-bottom: 2px solid #e5e5e5;
	border-radius: 10px 10px 0px 0px;
}

.list_frame {
	position: absolute;
	width: 30%;
	height: 40%;
	top: 57%;

	background: #ffffff;
	border: 2px solid #e2e2e2;
	border-radius: 10px;
}
#list_left {
	left: 10%;
}
#list_right {
	right: 10%;
}

//Buttons
.button {
	display: flex;
	font-weight: bold;
  font-size: 1.4vw;
  font-size-adjust:auto;
	position: relative;
	color: white;
	border-radius: 2em;
	border: none;
  outline: none;
	background: none;
	text-decoration: none;
}
#edit {
  width: 90%;
  height: 38%;
	background: #fbd13c;
	margin: auto;
}
#create {
  width: 80%;
  height: 38%;
	background: #65a3ff;
	margin: auto;
}
#match {
	position: absolute;
	width: 8%;
	height: 8%;
	background: #65a3ff;
	left: calc(50% - 4%);
	top: 50%;
}

.img_left_button {
	outline: none;
	position: absolute;
	width: 50%;
	height: 16%;
	left: 0px;
	bottom: 0px;

	background: #fafafa;
	border-top: 2px solid #e2e2e2;
	border-radius: 0px 0px 0px 10px;
}

.img_right_button {
	outline: none;
	position: absolute;
	width: 50%;
	height: 16%;
	right: 0px;
	bottom: 0px;

	background: #fafafa;
	border-top: 2px solid #e2e2e2;
	border-radius: 0px 0px 10px 0px;
}

//Misc
#arrow-btn {
	width: auto;
	height: 2vw;
}

.match_arrows {
	position: absolute;
  width: 22vw;
  height: auto;
	top: 25%;
	left: calc(50% - 11vw);
	
}

.matches {
	position: absolute;
	left: calc(50% - 3vw);
  width: 8vw;
  height: 8vw;
	top: 62%;

	background: url(../../images/matches_middle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.matches-count {
	position: absolute;
  width: 50%;
  height: 50%;
	top: 34%;
	bottom: 33%;
	right: -4%;

	font-weight: bold;
	font-size: 1.8vw;
	color: white;
}
