.frame {
  display: flex;
  flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10vw;
}

input {
  margin: 1vw auto 1vw auto;
  width: 30vw;
  height: 4vw;
}

button {
  flex-direction: row;
  margin: 1vw auto 1vw auto;
  height: 4vw;
  width: 9vw;
}
