.nav-frame {
	width: 100%;
	height: 10%;
	border: solid 2px #e2e2e2;
	border-radius: 0px 0px 10px 10px;
	background: #fafafa;
	border-top: none;
}

.profile-button {
	position: relative;
  text-align: center;
  float: right;
  width: 8%;
	height: 50%;
	top: calc(25% + 2px);
	right: 2%;
	color: #65A3FF;

  font-weight: bold;
  font-size: 1.6vw;
}

.matches-frame {
  float: right;
  margin-top: 2px;
	margin-right: -2px;
	width: 8vw;
	height: 100%;
	border: 2px solid #65a3ff;
	border-radius: 0px 0px 10px 0px;
	border-top: none;

	background: url(../../../shared/images/matches.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 80%;
}

.match-count {
	position: relative;
	top: calc(50% - 1.5vw);
	left: 63.35%;
	height: 1vw;
	width: 1vw;
	font-weight: bold;
	font-size: 2vw;
	color: white;
}

.app-logo {
	width: 6vw;
	height: 6vw;
	margin-top: 1.5vw;
	position: absolute;
	left: calc(50% - 3vw);
}